:root.light {
  --color-bg: #fafafa;
  --color-fg: #0a0a0a;
}

:root.dark {
  --color-bg: #0a0a0a;
  --color-fg: #fafafa;
}

:root {
  --color-orange: #fb2e01;
}



.about-header {
  font-size: 2em;
  color: var(--color-bg);
  background-color: var(--color-fg);
  
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.about-text {
    background-color: var(--color-bg);

}