.photography-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 24px;
    
}

.photos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
    gap: 0px;
    width: 100%;
    max-width: 1200px;
  }
  
  .photo-item {
    position: relative;
    width: auto;
    overflow: hidden;
    grid-row: span calc(var(--photo-height, 100) / 10); /* Fallback to 100px if --photo-height is not set */
  }
  
  .photo {
    width: 100%;
    height: 400px; /* Maintain the natural aspect ratio of the image */
    object-fit: none; /* Ensure the image fills its container */
    transition: transform 1s ease;
  }
  
  .photo:hover {
    transform: scale(1.05); /* Zoom effect on hover */
  }