/* Base styles for hidden elements */
html, body {
  opacity: 0;
  transform: translateY(30px) scale(0.98);
  filter: brightness(1);
  transition:
    opacity 1.2s ease-out,
    transform 1.2s ease-out,
    filter 1.2s ease-out;
}

html.loaded, body.loaded {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}

/* Keyframes for different directions */
@keyframes from-left {
  0% {
      transform: translateX(-500px);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes from-right {
  0% {
      transform: translateX(500px);
  }
  80% {
    transform: translateX(-35px);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes from-top {
  0% {
      transform: translateY(-500px);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes from-bottom {
  0% {
      opacity: 0;
      transform: translateY(500px);
  }
  80% {
    transform: translateY(-25px);
  }
  100% {
      transform: translateY(0);
  }
}

/* Animation classes */
.animate-from-left {
  animation: from-left 2s ease-out forwards;
}

.animate-from-right {
  animation: from-right 1.75s ease-in-out forwards;
}

.animate-from-top {
  animation: from-top .4s ease-out forwards;
}

.animate-from-bottom {
  animation: from-bottom 1s ease-in-out forwards;
}